<body>
    <p>
        <a href="http://localhost:3000/stores">Stores</a>
        <br>
        <a href="http://localhost:3000/products">Products</a>
        <br>
        <a href="http://localhost:3000/managers">Managers (MongoDB)</a>
    </p>
</body>