<body>
    <h1>Managers (MongoDB)</h1>
    <p>
        <a href="http://localhost:3000/managers/add">Add Manager (MongoDB)</a>
        <br>
        <a href="http://localhost:3000/">Home</a>
    </p>
</body>