<body>
    <h1>Add Store</h1>
    <form action="/products/add" method="POST">
        <label>Product ID</label>
        <input type="text" name="pid"><br>
        <label>Product Description</label>
        <input type="text" name="productdesc"><br>
        <label>Supplier</label>
        <input type="text" name="supplier"><br>
        <input type="submit" value="Add">
    </form>
    <p><a href="http://localhost:3000/">Home</a></p>
</body>