<body>
    <h1>Edit Store</h1>

    <!-- PREVIOUS DATA IS NOT BEING DISPLAYED IN THE INPUT BOX -->

    <form action="/stores/edit/:sid" method="POST">
        <label>SID</label>
        <input type="text" name="sid" value="<%= storesEDIT.sid %>"><br>
        <label>Location</label>
        <input type="text" name="location" value="<%= storesEDIT.location %>"><br>
        <label>Manager ID</label>
        <input type="text" name="mgrid" value="<%= storesEDIT.mgrid %>"><br>
        <input type="submit" value="Add">
    </form>
    <p><a href="http://localhost:3000/">Home</a></p>
</body>