<body>
    <h1>Add Store</h1>
    <form action="/stores/add" method="POST">
        <label>Store ID</label>
        <input type="text" name="sid"><br>
        <label>Location</label>
        <input type="text" name="location"><br>
        <label>Manager ID</label>
        <input type="text" name="mgrid"><br>
        <input type="submit" value="Add">
    </form>
    <p><a href="http://localhost:3000/">Home</a></p>
</body>