<body>
    <h1>Edit Store</h1>
    <form action="/stores/edit/:sid" method="POST">
        <label>SID</label>
        <input type="text" name="sid"><br>
        <label>Location</label>
        <input type="text" name="location"><br>
        <label>Manager ID</label>
        <input type="text" name="mid"><br>
        <input type="submit" value="Add">
    </form>
    <p><a href="http://localhost:3000/">Home</a></p>
</body>